.todo-item{
    border: black solid 1px;
    display: flex;
    align-items: center;
    width: 450px;
    margin-bottom: 10px;
    position: relative;
}

.todo-item-text{
    text-align: left;
    margin-left: 10px;
    width: 300px;
}

.todo-item-text-finish{
    text-align: left;
    text-decoration: line-through;
    margin-left: 10px;
    width: 300px;
}

.itemIcon{
    width: 20px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}